[submodule "themes/reimu"]
	path = themes/reimu
	url = https://github.com/D-Sketon/hugo-theme-reimu.git
[submodule "public"]
    path = public
    url = https://github.com/staceykd/furina.github.io.git   # 替换为实际URL
